---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="archive" style="width:100%;padding-left:0px;">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <div style="text-align:center;"><h1 style="color:black;">{{ page.title }}</h1></div>
    {% endunless %}
    {{ content }}
  </div>
</div>
